.movie_schedule{
    background-color: black;
    .movie_schedule_content{
        .row{
            .Button_m{
                .button_mua{
                    background-color: #C51A1B;
                    color: burlywood;
                }
            }
        }
    }
}